/TwelveInts/target/
/ParallelArray/target/
/StudentTrack/target/
/CIS1232_Lab_20170111/nbproject/private/
/CIS1232_Lab_20170111/build/
/CIS1232_Lab_20170111 - Copia/build/
/CIS1232_Lab_20170111 - Copia/nbproject/private/
/ParallelArray - Copia/target/
/MultidimensionalArray/target/
/HockeyTeam/target/
/BubbleSorting/target/
/SpinMachine/target/
/ArraySortingBF/target/
/ArraySortingBF - Copia/target/
/TicTacToe/target/
/Majors/target/
/CisStartingProject/target/
/CoffeeRollUp/target/
/CisAuto_HashMap/target/
/CisTickets2022/target/
/CisRoomBooking/nbproject/private/
/CisRoomBooking/build/
/CisRoomBooking_Interface/nbproject/private/
/CisRoomBooking_Interface/build/
/CisRoomBooking_Interface/dist/
